server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://mysql:3306/employee_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
